.homeWrapper {
    width: 70%;
    height: 100%;
    margin: 0 auto;
  }
  .homeFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .homeContent-text {
    border-radius: 10px;
    color: rgb(62, 28, 28);
    text-align: center;
    font-size: 34px;
    line-height: 60px;
    padding: 50px 50px;
    font-weight: bolder;
    text-shadow: 1px 2px 3px #292828;
    box-shadow: -1px 7px 12px 5px rgba(0,0,0,0.24);
  -webkit-box-shadow: -1px 7px 12px 5px rgba(0,0,0,0.24);
  -moz-box-shadow: -1px 7px 12px 5px rgba(0,0,0,0.24);
  }
  .signIn-btn {
    font-weight: 600;
    border-radius: 5px;
    width: 50%;
    padding: 15px 50px;
    font-size: 20px;
    color: white;
    background-color: rgb(79, 148, 79);
    border: 0;
    cursor: pointer;
    margin-top: 10%;
  }
  .signIn-btn:hover{
      background-color: green;
      transition: all 0.3s;
  }
  @media (max-width: 390px) {
    .signIn-btn {
        width: 50%;
        padding: 10px 20px;
        font-size:15px;
      }
  }   
  @media (max-width: 530px) {
    .homeWrapper {
        width: 90%;
    }
    .homeContent-text {
        border-radius: 5px;
        font-size: 22px;
        padding: 40px 40px;
        text-shadow: none;
        box-shadow: -1px 7px 12px 5px rgba(0,0,0,0.24);
      -webkit-box-shadow: -1px 7px 12px 5px rgba(0,0,0,0.24);
      -moz-box-shadow: -1px 7px 12px 5px rgba(0,0,0,0.24);
      }
  }
  
  @media (max-width: 768px) {
    .homeWrapper{
        padding-top: 40px;
        height: 100%;
    }
    .homeContent-text {
        font-size: 22px;
        line-height: 50px;
        padding: 40px 40px;
      }
  }
 
